.box_chrt {
    position: fixed;
    top: 10px;
    left: 270px;
    width: 50%; 
    height: 61.8%; 
    border: 1px solid white;
    border-radius: 10px;
    background-color: black ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.title {
    position: absolute;
    top: 14px;
    right: 50px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.symbol {
    position: absolute;
    top: 16px;
    right: 22.5px;
    width: 24px;
    height: 24px;
}