.form {
    position: fixed;
    top: 10px;
    right: 10px;
    width: calc(100% - (250px + 60%) - 92px); 
    height: calc(78% - 70px); 
    border: 1px solid white;
    border-radius: 10px;
    background-color: black ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}
.h2 {
    position: relative;
    color: white;
    font-size: 13px;
}
.label {
    display: block;
    text-align: left;
    color: #969696;
    font-weight: bold;
    font-size: 12px;
}
.input {
    width: 120px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 1px;
    padding: 1px;
}
input:focus {
    border-color: white;
}