.slct_tab {
    display: flex;
}
.btn_tab {
    flex: 1;
    border: none;
    background-color: #2E2E2E; 
    cursor: pointer;
    font-size: 15px;
    border: 1px solid transparent;
}
.btn_tab:hover {
    border: 1px solid #696969;
}
.btn_tab.active {
    background: #696969;
    border-bottom: 1px solid #696969;
    font-size: 16px;
}