 <div id="form" class="form"> <!--  <button id="btn_set" class="btn_set" onclick="hndl_btn_set('setup')">🛠️</button> <form method="post"> -->
    <section class="section1"> <h2 class="h2">A$$T</h2> <div class="input class="input"-group">
        <label class="label" for="set_Nperps">Nperps:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Nperps" name="set_Nperps" value=""><br>
        <label class="label" for="set_Rassets_oto">Rassets:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="text" id="set_Rassets_oto" name="set_Rassets_oto" value=""><br>
        <label class="label" for="set_Ndeals">Ndeals:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Ndeals" name="set_Ndeals" value=""><br>
        <label class="label" for="set_Nserial">Nserial:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Nserial" name="set_Nserial" value=""><br>
    </div> </section>

    <section class="section2"> <h2 class="h2">MNGR</h2> <div class="input class="input"-group">
        <label class="label" for="set_Tsort">Tsort:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="text" id="set_Tsort" name="set_Tsort" value=""><br>
        <label class="label" for="set_Tdscnd">Bdscnd:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="text" id="set_Tdscnd" name="set_Tdscnd" value=""><br>
        <label class="label" for="set_Ntimer">Ntimer:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Ntimer" name="set_Ntimer" value=""><br>
        <label class="label" for="set_Nturn">Nturn:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Nturn" name="set_Nturn" value=""><br>
    </div> </section>

    <section class="section3"> <h2 class="h2">TFRM</h2> <div class="input class="input"-group">
        <label class="label" for="set_Ntfrm">Ntfrm:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Ntfrm" name="set_Ntfrm" value=""><br>
        <label class="label" for="set_Troll">Troll:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="text" id="set_Troll" name="set_Troll" value=""><br>
        <label class="label" for="set_Tback">Tback:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="text" id="set_Tback" name="set_Tback" value=""><br>
    </div> </section>
    
    <section class="section4"> <h2 class="h2">SGNL</h2> <div class="input class="input"-group">
        <label class="label" for="set_Ncook_dyn_oto">Ncook:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="text" id="set_Ncook_dyn_oto" name="set_Ncook_dyn_oto" value=""><br>
        <label class="label" for="set_Dsglm">Dsglm:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Dsglm" name="set_Dsglm" value=""><br>
        <label class="label" for="set_Dfltr">set_Dfltr:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Dfltr" name="set_Dfltr" value=""><br>
        <label class="label" for="set_Nwhale">Nwhale:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Nwhale" name="set_Nwhale" value=""><br>
        <label class="label" for="set_Nrsdl">Nrsdl:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Nrsdl" name="set_Nrsdl" value=""><br>
    </div></section>

    <section class="section5"> <h2 class="h2">NRRR</h2> <div class="input class="input"-group">
        <label class="label" for="set_Nzrrr_0">Nzrrr_0:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="text" id="set_Nzrrr_0" name="set_Nzrrr_0" value=""><br>
        <label class="label" for="set_Nzrrr_1">Nzrrr_1:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="text" id="set_Nzrrr_1" name="set_Nzrrr_1" value=""><br>
        <label class="label" for="set_Tzrrr">Tzrrr:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="text" id="set_Tzrrr" name="set_Tzrrr" value=""><br>
        <label class="label" for="set_Rzrrr">Rzrrr:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Rzrrr" name="set_Rzrrr" value=""><br>
        <label class="label" for="set_Nzrrd">Nzrrd:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Nzrrd" name="set_Nzrrd" value=""><br>
        <label class="label" for="set_Nzrlm">Nzrlm:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Nzrlm" name="set_Nzrlm" value=""><br>
        <label class="label" for="set_Nzliq">Nzliq:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Nzliq" name="set_Nzliq" value=""><br>
    </div> </section>

    <section class="section6"> <h2 class="h2">STEP</h2> <div class="input class="input"-group">
        <label class="label" for="set_Nstep_dyn_oto">Nstep:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="text" id="set_Nstep_dyn_oto" name="set_Nstep_dyn_oto" value=""><br>
        <label class="label" for="set_Dstep_dyn_oto">Dstep:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="text" id="set_Dstep_dyn_oto" name="set_Dstep_dyn_oto" value=""><br>
        <label class="label" for="set_Nxbeg_dyn_oto">Nxbeg:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Nxbeg_dyn_oto" name="set_Nxbeg_dyn_oto" value=""><br>
        <label class="label" for="set_Dcbeg">Dcbeg:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" id="set_Dcbeg" name="set_Dcbeg" value=""><br>
        <label class="label" for="set_Dcfin">Dcfin:</label class="label"> <input style="background-color: #D3D3D3;" class="input" type="number" step="0.01" id="set_Dcfin" name="set_Dcfin" value=""><br>
    </div> </section>
</form> </div>